BRAIN_API_KEY=
BRAIN_API_URL=
BRAIN_MODEL_NAME=

TAVILY_API_KEY=

IMAGE_GEN_BASE_URL=
IMAGE_GEN_API_KEY=
IMAGE_GEN_MODEL=

VIDEO_GEN_BASE_URL=
VIDEO_GEN_API_KEY=
VIDEO_GEN_MODEL=

SPEECH_BASE_URL=
SPEECH_API_KEY=
SPEECH_MODEL=

TTS_APPID= 
TTS_ACCESS_TOKEN= 

EMBED_BASE_URL=          
EMBED_MODEL=
